name: Publish
on: 
  push:
    branches: 
      - main
jobs:
  Publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: npm install

      - name: Set Version
        run: |
          echo ${GITHUB_SHA::8}
          sed -i 's/dev/dev '"${GITHUB_SHA::8}"'/' src/version.js
          sed -i 's/localhost/spacehuhn.github.io\/espwebtool/' src/version.js
          sed -i 's/localhost/spacehuhn.github.io\/espwebtool/' package.json
#         sed -i 's/localhost/esp.huhn.me/' src/version.js
#         sed -i 's/localhost/esp.huhn.me/' package.json
      
      - name: Build
        run: npm run build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages  # default: gh-pages
          publish_dir: ./build
#         cname: locale.huhn.me
